body {
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      background-image: url(bg.jpg);
      font-size: 30px;
      line-height: 1.6;

}

*,
*:after,
*:before {
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
        margin: 0;
}

.container {
        width: 100%;
        max-width: 1200px;
        min-height: 128px;
        margin: 0 auto;
}

.container1{
        width: 100%;
        max-width: 1200px;
        min-height: 572px;
        margin: 0 auto;
}


/*=================HEADER=======*/

.header {
          padding-top: 30px;
          width: 100%;

          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: 1000;
}

.header__inner {
          display: flex;
          justify-content: space-between;
          align-items: center;
}

.header__logo {
          max-width: 1200px;
          height: auto;
          float: left;
          vertical-align: baseline;
}

.header__name {
          font-weight: 400;
          font-size: 40px;
          font-family: sans-serif;
          margin-right: 900px;
          vertical-align: baseline;
          color: #3b5085;
}

/*=================INTRO=======*/

.intro {
        margin-bottom: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        box-sizing: content-box;
}

.intro__inner {
        width: 100%;
        max-width: 1200px;
        min-height: 700px;
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}

.intro__title {
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        line-height: 1;
        color: #3b5085;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
        margin-top: 100px;
        height: auto;
        width: auto;
        vertical-align: baseline;
}


/*======================NAV=======*/

nav {
          margin-bottom: 20px;
          margin-top: 20px;
          font-size: 20px;
          display: flex;
          justify-content: center;
          width: 900px;
}

button {
          display: flex;
          color: white;
          text-decoration: none;
          outline: none;
          border: none;
          background: linear-gradient(#3b5085, #4676b4) #4676b4;
          transition: 0.2s;
          justify-content: center;
          align-items: center;
          width: 250px;
          height: 100px;
          margin-left: 10px;
          float: left;
          cursor: pointer;
}

button:hover { background: linear-gradient(#3b5085, #4676b4) #4676b4; }
button:active { background: linear-gradient(#4676b4, #3b5085) #4676b4; }
